---
---

<div class="container-fluid d-flex flex-column">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<p>
					Kształcił się u wybitnych mistrzów batuty. Dyrygenturę chóralną
					studiował pod kierunkiem prof. Jana Szyrockiego (AM Szczecin) a
					Dyrygenturę symfoniczno-operową pod kierunkiem prof. Antoniego Wita
					(UMFC Warszawa), u którego odbył też studia doktoranckie. Prowadzi
					aktywną działalność koncertową z polskimi chórami i orkiestrami.
				</p>
				<p>
					Jest Dyrektorem Artystycznym i jednym z założycieli Stowarzyszenia
					Mozart 2003, z którym zorganizował i wykonał ponad osiemdziesiąt
					koncertów oratoryjnych w Polsce i w Ukrainie. Jest dyrygentem cyklu
					corocznych prawykonań utworów oratoryjnych młodych kompozytorów
					polskich.
				</p>
				<p>
					Od 2006 roku jest Dyrektorem Artystycznym Chóru Akademickiego im.
					prof. Szyrockiego ZUT w Szczecinie (dawniej Chór Akademicki
					Politechniki Szczecińskiej), z którym koncertował w całej Europie i
					Ameryce Południowej. Pod kierunkiem Szymona Wyrzykowskiego ten
					renomowany zespół wciąż zdobywa nowe nagrody na międzynarodowych
					konkursach. Wraz z CHAPS podjął się nagrania wszystkich dzieł Marka
					Jasińskiego.
				</p>
				<p>
					Od 2012 roku jest jednym z dyrygentów Międzynarodowej Akademii
					Chóralnej In terra pax, a od 2014 jej Dyrektorem Artystycznym.
					Wyróżniony odznaczeniami: Srebrny Krzyż Zasługi Prezydenta RP,
					„Zasłużony dla Kultury Polskiej”, Srebrna Odznaka Honorowa Gryfa
					Zachodniopomorskiego.
				</p>
			</div>
			<div class="col-8">
				<img
					src="/img/photo1.jpeg"
					class="img-fluid"
					alt="Szymon Wyrzykowski"
				/>
			</div>
		</div>
	</div>
</div>
